@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: rgb(94, 94, 255);
  --confirm-color: rgb(126, 215, 193);
  --negative-color: rgb(255, 120, 120);
  --light-gray: rgb(238, 238, 238);
}

body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 73px 1fr 73px;
  font-family: 'roboto';
  min-height: 100vh;
}

body button:hover {
  cursor: pointer;
}

nav {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  box-shadow: 20px 1px 6px black;
}

.nav-left-side,
.nav-middle,
.nav-right-side {
  display: flex;
  margin: 1rem;
}

.nav-left-side h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2.4rem;
}

nav button {
  padding: 0.8rem;
  margin: 0;
  background-color: var(--primary-color);
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
  border-color: white;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}

nav button:hover {
  background-color: white;
  color: var(--primary-color);
}

.left-menu {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: var(--light-gray);
  box-shadow: 1px 2px 6px black;
  padding: 1rem;
  font-size: 1rem;
  width: 170px;
}

.left-menu img {
  vertical-align: middle;
  padding-right: 0.3rem;
  filter: invert(32%) sepia(51%) saturate(2637%) hue-rotate(227deg) brightness(104%) contrast(104%);
}

.left-menu button {
  height: 30px;
  border: none;
}

.left-menu button:hover {
  text-decoration: underline;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 0.9rem;
  background-color: white;
  border-color: black;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.current-projects-container,
.complete-projects-container {
  display: flex;
  flex-direction: column;
}

.main-section {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin: 1rem;
}

.current-projects,
.complete-projects {
  display: flex;
  flex-direction: column;
}

footer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--primary-color);
  box-shadow: 0px -1px 6px black;
  color: white;
}

dialog {
  border-radius: 0.4rem;
  border-color: var(--primary-color);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

button[class^="create"],
button[class^="yes"],
button[class^="ok"] {
  background-color: var(--confirm-color);
  font-weight: normal;
  color: white;
  border-color: var(--confirm-color);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  width: 5rem;
}

button[class^="cancel"],
button[class^="no"] {
  background-color: var(--negative-color);
  font-weight: normal;
  color: white;
  border-color: var(--negative-color);
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  width: 5rem;
}

div[class^="project-card-"] {
  display: flex;
  flex-direction: column;
  border: solid 2px red;
  margin: 1rem;
}

.project-sub-card {
  display: flex;
  border: solid 2px yellow;
}

.tasks-sub-cards {
  display: flex;
  flex-direction: column;
  border: solid 2px green;
}

div[class^="task-"] {
  display: flex;
  flex-direction: column;
  border: solid 2px blue;
  margin: 0.5rem;
  padding: 0.5rem;
}

div[class^="task-"] > div:first-child {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

div[class^="task-"] > div:last-child {
  display: flex;
  gap: 1rem;
}

.task-complete {
  background-color: blue;
}

.project-complete {
  background-color: green;
}

.late-task {
  background-color: yellow;
}

.hidden {
  display: none;
}

/* * {
  border: solid 1px red;
} */